@font-face {
    font-family: AH;
    src:
        local("Atkinson Hyperlegible"),
        url("/fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
}

@font-face {
    font-family: AHBold;
    src: 
        local("Atkinson Hyperlegible Bold"),
        url("/fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: AHItalic;
    src: 
        local("Atkinson Hyperlegible Italic"),
        url("/fonts/AtkinsonHyperlegible-Italic.ttf") format("truetype");
    font-weight: italic;
}

p { font-family: AH; }
h1 {font-family: AHBold; }
  